<div class="container container-exercises-item">
  <div class="exercises-inner-container">
    <h2 class="exercises-title">Exercises</h2>


    <div class="exercises-category-form-container">
    <div class="exercises-category-container">
      <button
        type="button"
        class="exercises-category-btn exercises-category-btn-active"
      >
        Muscles
      </button>
      <button type="button" class="exercises-category-btn">Body parts</button>
      <button type="button" class="exercises-category-btn">Equipment</button>
    </div>

    <form class="exercices-form" name="exercices-form" autocomplete="off">
      <input
        class="exercices-form-input"
        type="text"
        name="name-exercices"
        placeholder="Search"
      />

      <div class="exercices-form-btn-container">
        <button class="exercices-form-clear-btn" type="submit">
          <svg class="form-clear-svg" width="18" height="18">
            <use href="./img/icons.svg#icon-cross"></use>
          </svg>
        </button>
        <button class="exercices-form-search-btn" type="submit">
          <svg class="form-search-svg" width="18" height="18">
            <use href="./img/icons.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>

    </div>

    <!-- exercises-subcategory-list -->
    <ul class=" open-card">
         <li class="exercices-card">

          <div class="card-header">
            <div class="card-header-container">
              <p class="card-category">WORKOUT</p>

               <div class="card-rating-container">
                  <p class="card-rating">
                     4.0
                  </p>
                 <svg class="card-rating-svg" width="18" height="18">
                   <use href="./img/icons.svg#icon-star"></use>
                 </svg>
               </div>
               
            </div>

                 <button class="card-button" type="submit">
              Start
              <svg class="card-search-svg" >
                <use href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </button >
           
          </div>

          <div class="card-bodi">
            <svg class="card-bodi-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-running_man"></use>
            </svg>
            <h3 class="card-name">Air bike</h3>
          </div>

            <ul class="card-inform-list">
              <li class="card-inform-item">Burned calories:  <span class="card-inform-item-span">312 / 3 min</span></li>
              <li class="card-inform-item">Body part: <span class="card-inform-item-span">Waist</span></li>
              <li class="card-inform-item">Target: <span class="card-inform-item-span">Abs</span></li>
            </ul>
          
        </li>

        <li class="exercices-card">

          <div class="card-header">
            <div class="card-header-container">
              <p class="card-category">WORKOUT</p>

               <div class="card-rating-container">
                  <p class="card-rating">
                     4.0
                  </p>
                 <svg class="card-rating-svg" width="18" height="18">
                   <use href="./img/icons.svg#icon-star"></use>
                 </svg>
               </div>
               
            </div>

                 <button class="card-button" type="submit">
              Start
              <svg class="card-search-svg" >
                <use href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </button >
           
          </div>

          <div class="card-bodi">
            <svg class="card-bodi-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-running_man"></use>
            </svg>
            <h3 class="card-name">Air bike</h3>
          </div>

            <ul class="card-inform-list">
              <li class="card-inform-item">Burned calories:  <span class="card-inform-item-span">312 / 3 min</span></li>
              <li class="card-inform-item">Body part: <span class="card-inform-item-span">Waist</span></li>
              <li class="card-inform-item">Target: <span class="card-inform-item-span">Abs</span></li>
            </ul>
          
        </li>

        <li class="exercices-card">

          <div class="card-header">
            <div class="card-header-container">
              <p class="card-category">WORKOUT</p>

               <div class="card-rating-container">
                  <p class="card-rating">
                     4.0
                  </p>
                 <svg class="card-rating-svg" width="18" height="18">
                   <use href="./img/icons.svg#icon-star"></use>
                 </svg>
               </div>
               
            </div>

                 <button class="card-button" type="submit">
              Start
              <svg class="card-search-svg" width="14" height="14">
                <use href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </button >
           
          </div>

          <div class="card-bodi">
            <svg class="card-bodi-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-running_man"></use>
            </svg>
            <h3 class="card-name">Air bike</h3>
          </div>

            <ul class="card-inform-list">
              <li class="card-inform-item">Burned calories:  <span class="card-inform-item-span">312 / 3 min</span></li>
              <li class="card-inform-item">Body part: <span class="card-inform-item-span">Waist</span></li>
              <li class="card-inform-item">Target: <span class="card-inform-item-span">Abs</span></li>
            </ul>
          
        </li>

        <li class="exercices-card">

          <div class="card-header">
            <div class="card-header-container">
              <p class="card-category">WORKOUT</p>

               <div class="card-rating-container">
                  <p class="card-rating">
                     4.0
                  </p>
                 <svg class="card-rating-svg" width="18" height="18">
                   <use href="./img/icons.svg#icon-star"></use>
                 </svg>
               </div>
               
            </div>

                 <button class="card-button" type="submit">
              Start
              <svg class="card-search-svg" width="14" height="14">
                <use href="./img/icons.svg#icon-arrow-right"></use>
              </svg>
            </button >
           
          </div>

          <div class="card-bodi">
            <svg class="card-bodi-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-running_man"></use>
            </svg>
            <h3 class="card-name">Air bike</h3>
          </div>

            <ul class="card-inform-list">
              <li class="card-inform-item">Burned calories:  <span class="card-inform-item-span">312 / 3 min</span></li>
              <li class="card-inform-item">Body part: <span class="card-inform-item-span">Waist</span></li>
              <li class="card-inform-item">Target: <span class="card-inform-item-span">Abs</span></li>
            </ul>
          
        </li>
        
    </ul>

    <div class="exercises-subcategory-page-container">
      <button
        type="button"
        class="exercises-subcategory-page-btn exercises-subcategory-page-btn-active"
      >
        1
      </button>
      <button type="button" class="exercises-subcategory-page-btn">2</button>
    </div>
  </div>
</div>
</div>
