<section class="exercises">
    <div class="container">
        <div class="exercises-inner-container">
            <h2 class="exercises-title">Exercises</h2>

            <div class="exercises-category-container">
                <button type="button" class="exercises-category-btn exercises-category-btn-active">Muscles</button>
                <button type="button" class="exercises-category-btn">Body parts</button>
                <button type="button" class="exercises-category-btn">Equipment</button>
            </div>

            <ul class="exercises-subcategory-list"></ul>

            <div class="exercises-subcategory-page-container"></div>
        </div>
    </div>
</section>