<section class="favorites-section">
    <div class="container">
        <div class="favorites-card">
            <h2 class="favorites-title">Favorites</h2>
            <div class="favorites-container-block">
                <div class="empty-text-container">
                    <img class="message-info-svg" src="./img/dumbbell.png" alt="dumbbell">
                    <p class="message-info-text">
                        It appears that you haven't added any exercises to your favorites yet.
                        To get started, you can add exercises that you like to your favorites
                        for easier access in the future.
                    </p>
                </div>

                <ul class="favorites-list"></ul>
                <div id="tui-pagination-container" class="tui-pagination"></div>
            </div>
        </div>
    </div>
</section>