<section class="favorites-section">
    <div class="favorites-card">
      <h2 class="favorites-title">Favorites</h2>
      <div class="favorites-contanier-block">
        <ul class="favorites-list">
            <li class="favorites-list-item" tabindex="0">
                <div class="favorites-card-header">
                    <div class="favorites-oval">
                        <span>WORKOUT</span>
                        <button class="favorites-icon-svg" data-id="#">
                            <svg width="16" height="16" fill="none">
                                <use href="#"></use>
                            </svg>
                        </button>
                    </div>
                    <button class="favorites-list-button" data-id="#" type="button" " Start ">
                        <svg class="favorites-list-button-icon" width="14" height="14" stroke="#">
                            <use href="#"></use>
                        </svg>
                    </button>
                </div>
                <div class="favorites-list-container">
                    <svg class="favorite-list-svg" width="24" height="24">
                        <use href="#"></use>
                    </svg>
                    <h3 class="favorites-list-text"></h3>
                </div>
                <div class="favorites-card-text">
                    <ul class="favorites-card-text-list">
                        <li class="favorites-card-text-item">
                            <div class="favorites-card-text-wrapper">
                                <h4 class="favorites-card-text-title"></h4>
                                <p class="favorites-card-text-block"></p>
                            </div>
                            <div class="favorites-card-text-wrapper">
                                <h4 class="favorites-card-text-title"></h4>
                                <p class="favorites-card-text-block"></p>
                            </div>
                            <div class="favorites-card-text-wrapper">
                                <h4 class="favorites-card-text-title"></h4>
                                <p class="favorites-card-text-block"></p>
                            </div>
                        </li>
                    </ul>
                </div>

            </li>
        </ul>
      </div>
      <div class="pagination-mobile-list">
        <ul class="favorites-pagination-block"></ul>
      </div>
    </div>
  </section>