<div class="backdrop">
  <div class="modal-window-mob">
    <div class="link-logo-btn-close-mob">
      <a class="link-logo-mob-menu" href="./index.html">energy.flow</a>
      <button class="btn-close-mob" type="button">
        <svg class="icon-btn-close-mob" width="20" height="20">
          <use href="./img/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <div class="link-home-favorites">
      <a class="link-home first-link-home" href="./index.html">Home</a>
      <a class="link-home link-favorites" href="./favorites.html">Favorites</a>
    </div>
    <ul class="list-icon-mob">
      <li class="mob-menu-icon">
        <a target="_blank" href="https://www.facebook.com/goITclub/">
          <svg class="icon-mob-menu-social" width="40" height="40">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mob-menu-icon">
        <a target="_blank" href="https://www.instagram.com/goitclub/">
          <svg class="icon-mob-menu-social" width="40" height="40">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-menu-icon">
        <a target="_blank" href="https://www.youtube.com/c/GoIT">
          <svg class="icon-mob-menu-social" width="40" height="40">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
