<section class="motivation-section">
    <div class="container">
        <div class="motivation-container">
            <div class="motivation-img-container">
            </div>
            <div class="motivation-wrap">
                <div class="motivation-icon-wrap">
                    <svg class="motivation-icon" width="32" height="32">
                        <use href="./img/icons.svg#icon-dumbbells"></use>
                    </svg>
                </div>
                <h3 class="motivation-sport-title">110 min</h3>
                <p class="motivation-sport-text">Daily norm of sports</p>
                <p class="motivation-sport-description">
                    The World Health Organization recommends at least 150 minutes of
                    moderate-intensity aerobic physical activity throughout the week for
                    adults aged 18-64. However, what happens if we adjust that number to 110
                    minutes every day?
                </p>
            </div>
        </div>
    </div>
</section>