<section class="quote-home">
    <div class="container">
        <div class="container-quote">
            <div class="quote-of-the-day">

                <svg class="quote-header-svg-2">
                    <use href="./img/icons.svg#icon-inverted-commas"></use>
                </svg>
                <div class="quote-header">
                    <svg class="quote-header-svg-1">
                        <use href="./img/icons.svg#icon-man"></use>
                    </svg>
                    <h2 class="quote-header-title">Quote of the day</h2>
                </div>

                <div class="quote-text-container">
                    <p class="quote-text">A lot of times I find that people who are blessed with the most talent don't
                        ever develop that attitude, and the ones who aren't blessed in that way are the most competitive
                        and have the biggest heart.</p>
                    <p class="quote-author">Tom Brady</p>
                </div>
            </div>

            <div class="quote-picture"></div>

        </div>
    </div>
</section>