<section class="quote-favorites">
    <div class="container">
        <div class="container-quote-favorites">
            <div class="quote-of-the-day-favorites">

                <svg class="quote-favorites-header-svg-2">
                    <use href="./img/icons.svg#icon-inverted-commas"></use>
                </svg>

                <div class="quote-favorites-header">
                    <svg class="quote-favorites-svg-1">
                        <use href="./img/icons.svg#icon-man"></use>
                    </svg>
                    <h2 class="quote-favorites-header-title">Quote of the day</h2>
                </div>

                <div class="quote-text-favorites-container">
                    <p class="quote-favorites-text">A lot of times I find that people who are blessed with the most
                        talent don't ever develop that attitude, and the ones who aren't blessed in that way are the
                        most competitive and have the biggest heart.</p>
                    <p class="quote-favorites-author">Tom Brady</p>
                </div>

            </div>

            <div class="quote-favorites-picture"></div>

            <div class="quote-110min-container">
                <div class="quote-110min">
                    <svg class="quote-110min-svg">
                        <use href="./img/icons.svg#icon-dumbbells-dark"></use>
                    </svg>
                    <p class="quote-110min-text">110 min</p>
                    <p class="quote-110min-live">Daily norm of sports</p>
                </div>
            </div>

        </div>
    </div>
</section>