<div class="backdrop-rating">
  <div class="rating-modal">
    <form class="rating-form">
      <button type="button" class="close">
        <svg class="close-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-cross"></use>
        </svg>
      </button>

      <p class="rating-text">Rating</p>

      <div class="rating-value-container">
        <p class="rating-value">0.0</p>

        <ul class="rating-star-list">
          <li class="rating-star-item">
            <label>
              <input
                type="radio"
                name="rating"
                class="rating-star-radio"
                value="1"
              />

              <svg class="rating-star-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-gray"></use>
              </svg>
            </label>
          </li>

          <li class="rating-star-item">
            <label>
              <input
                type="radio"
                name="rating"
                class="rating-star-radio"
                value="2"
              />

              <svg class="rating-star-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-gray"></use>
              </svg>
            </label>
          </li>

          <li class="rating-star-item">
            <label>
              <input
                type="radio"
                name="rating"
                class="rating-star-radio"
                value="3"
              />

              <svg class="rating-star-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-gray"></use>
              </svg>
            </label>
          </li>

          <li class="rating-star-item">
            <label>
              <input
                type="radio"
                name="rating"
                class="rating-star-radio"
                value="4"
              />

              <svg class="rating-star-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-gray"></use>
              </svg>
            </label>
          </li>

          <li class="rating-star-item">
            <label>
              <input
                type="radio"
                name="rating"
                class="rating-star-radio"
                value="5"
              />

              <svg class="rating-star-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-star-gray"></use>
              </svg>
            </label>
          </li>
        </ul>
      </div>

      <input
        type="email"
        placeholder="Email"
        name="email"
        class="rating-input"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      />

      <textarea
        placeholder="Your comment"
        name="comment"
        class="rating-input rating-textarea"
        required
      ></textarea>

      <button type="submit" class="rating-btn">Send</button>
    </form>
  </div>
</div>
