.exercises {
  padding: 10px 0;
}

.exercises-inner-container {
  position: relative;
  border-radius: 30px;
  background: var(--cb-container);

  padding: 40px 20px;
}

.exercises-title {
  color: var(--c-primary);
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;

  margin-bottom: 20px;
}

.exercises-category-form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  gap: 20px;

  margin-bottom: 40px;
}

.exercises-category-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 6px;
}

.exercises-category-btn {
  font-family: 'DM Sans', sans-serif;
  color: var(--c-primary);
  font-size: 14px;
  line-height: 1.29;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 30px;

  background: var(--c-main);

  padding: 7px 14px;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.exercises-category-btn-active,
.exercises-category-btn:hover {
  background-color: var(--c-secondary);
  color: var(--c-main);
}

.exercises-subcategory-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.exercises-subcategory-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 2px;

  padding: 45px 105px;

  width: 100%;
  height: 232px;

  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 0.7) 0%,
    rgba(16, 16, 16, 0.7) 100%
  );

  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;

  transition: transform 0.2s ease-in-out;

  cursor: pointer;
  position: relative;
}

.exercises-subcategory-item:hover {
  transform: scale(1.02);
}

.exercises-subcategory-name {
  color: var(--c-main);
  font-size: 20px;
  line-height: 1;

  text-align: center;
}

.exercises-subcategory-type {
  color: rgba(246, 246, 246, 0.4);
  font-size: 12px;
  line-height: 1.5;
}

.exercises-subcategory-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
}

.exercises-subcategory-page-container {
  display: none;
  align-items: center;
  justify-content: center;

  gap: 8px;

  margin-top: 20px;
}

.exercises-subcategory-page-btn {
  font-family: 'DM Sans', sans-serif;
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 50%;

  background-color: inherit;

  padding: 0;
}

.exercises-subcategory-page-btn-active {
  color: var(--c-primary);

  width: 32px;

  border: 1px solid var(--c-primary);
}

.exercices-form {
  display: none;

  width: 295px;
  height: 42px;

  position: relative;
}

.exercices-form-input {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: var(--c-primary);

  border: none;

  width: 100%;
  height: 100%;

  border-radius: 30px;

  padding: 12px 14px;

  outline: none;

  background: var(--c-main);
}

.exercices-form-input::placeholder {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--c-primary);
}

.exercices-form-btn-container {
  display: flex;
  gap: 5px;

  position: absolute;
  right: 12px;
  bottom: 12px;

  margin: 0;
}

.exercices-form-search-btn {
  width: 18px;
  height: 18px;

  border: none;
  outline: none;

  background: var(--c-main);
}

.form-search-svg {
  fill: none;
  stroke: var(--c-primary);
}

.exercices-form-clear-btn {
  width: 18px;
  height: 18px;

  background: var(--c-main);

  border: none;
  outline: none;
  display: none;
}

.form-clear-svg {
  stroke: var(--c-primary);
}

@media screen and (max-width: 375px) {
  .exercises-category-btn {
    padding: 7px 10px;
  }
}

@media screen and (min-width: 768px) {
  .exercises {
    padding: 8px 0;
  }

  .exercises-inner-container {
    padding: 64px 48px;
  }

  .exercises-title {
    font-size: 44px;
    line-height: 1.09;

    margin-bottom: 32px;
  }

  .exercises-category-container {
    gap: 8px;
  }

  .exercises-category-btn {
    font-size: 16px;
    line-height: 1.5;

    padding: 10px 20px;
  }

  .exercises-subcategory-list {
    flex-direction: row;

    gap: 14px;
  }

  .exercises-subcategory-item {
    width: calc((100% - 14px) / 2);
    height: 250px;
  }

  .exercises-subcategory-name {
    font-size: 24px;
  }

  .exercises-subcategory-page-container {
    margin-top: 32px;
  }

  .exercises-subcategory-page-btn {
    font-size: 24px;
    line-height: 1.33;
  }

  .exercises-category-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 35px;

    margin-bottom: 32px;
  }

  .exercices-form {
    width: 246px;
    height: 44px;
  }

  .exercices-form-btn-container {
    bottom: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-subcategory-list {
    gap: 40px 20px;
  }

  .exercises-subcategory-item {
    width: calc((100% - 60px) / 4);
  }

  .exercices-form {
    width: 273px;
    height: 48px;
  }

  .exercices-form-btn-container {
    bottom: 15px;
  }
}

.is-visible {
  display: flex;
}
