.exercises-inner-container {
  border-radius: 30px;
  background: var(--cb-container);

  padding: 40px 20px;
}

.exercises-title {
  color: var(--c-primary);
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;

  margin-bottom: 20px;
}

.exercises-category-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 6px;

  margin-bottom: 40px;
}

.exercises-category-btn {
  font-family: 'DM Sans', sans-serif;
  color: var(--c-primary);
  font-size: 14px;
  line-height: 1.29;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 30px;

  background: var(--c-main);

  padding: 7px 14px;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.exercises-category-btn-active,
.exercises-category-btn:hover {
  background-color: var(--c-secondary);
  color: var(--c-main);
}

.exercises-subcategory-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.exercises-subcategory-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 2px;

  padding: 45px 105px;

  width: 100%;
  height: 232px;

  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  background: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.7) 0%,
      rgba(16, 16, 16, 0.7) 100%
    ),
    url(<path-to-image>),
    lightgray -16.825px -9.156px / 128.765% 116.922% no-repeat;

  transition: transform 0.2s ease-in-out;

  cursor: pointer;
}

.exercises-subcategory-item:hover {
  transform: scale(1.02);
}

.exercises-subcategory-name {
  color: var(--c-main);
  font-size: 20px;
  line-height: 1;

  text-align: center;
}

.exercises-subcategory-type {
  color: rgba(246, 246, 246, 0.4);
  font-size: 12px;
  line-height: 1.5;
}

.exercises-subcategory-page-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  margin-top: 20px;
}

.exercises-subcategory-page-btn {
  font-family: 'DM Sans', sans-serif;
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 50%;

  background-color: inherit;

  padding: 0;
}

.exercises-subcategory-page-btn-active {
  color: var(--c-primary);

  padding: 0px 12px;

  border: 1px solid var(--c-primary);
}

@media screen and (max-width: 375px) {
  .exercises-category-btn {
    padding: 7px 10px;
  }
}

@media screen and (min-width: 768px) {
  .exercises-inner-container {
    padding: 64px 48px;
  }

  .exercises-title {
    font-size: 44px;
    line-height: 1.09;

    margin-bottom: 32px;
  }

  .exercises-category-container {
    gap: 8px;

    margin-bottom: 32px;
  }

  .exercises-category-btn {
    font-size: 16px;
    line-height: 1.5;

    padding: 10px 20px;
  }

  .exercises-subcategory-list {
    flex-direction: row;

    gap: 14px;
  }

  .exercises-subcategory-item {
    width: calc((100% - 14px) / 2);
    height: 250px;
  }

  .exercises-subcategory-name {
    font-size: 24px;
  }

  .exercises-subcategory-page-container {
    margin-top: 32px;
  }

  .exercises-subcategory-page-btn {
    font-size: 24px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-subcategory-list {
    gap: 40px 20px;
  }

  .exercises-subcategory-item {
    width: calc((100% - 60px) / 4);
  }
}
