.open-card {
  /* width: 335px; */

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-exercises-item {
  max-height: 1778px;
  min-height: 760px;
  height: 100%;
}

.exercises-category-form-container {
  margin-bottom: 40px;
}

/* стилі форми для запиту */

.exercices-form {
  display: block;
  margin-bottom: 40px;
  max-width: 295px;
  max-height: 42px;
  width: 100%;
  height: 100%;
  position: relative;
}

.exercices-form-input {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--c-primary);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 12px 14px;
  outline: none;
  background: var(--c-main);
}

.exercices-form-input::placeholder {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--c-primary);
}

.exercices-form-btn-container {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  margin: 0;
}

.exercices-form-search-btn {
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background: var(--c-main);
}

.form-search-svg {
  fill: var(--c-primary);
  stroke: none;
}

.exercices-form-clear-btn {
  width: 18px;
  height: 18px;
  border: none;
  background: var(--c-main);
  outline: none;
  /* display: none; */
}

.form-clear-svg {
  stroke: var(--c-primary);
}

/* стилі для карти товару */

.exercices-card {
  background: #fff;
  padding: 16px;
  max-width: 295px;
  max-height: 165px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.card-header-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.card-rating-container {
  display: flex;
  gap: 2px;
}

.card-rating-svg {
  fill: #eea10c;
}

.card-rating {
  color: var(--c-primary);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

.card-category {
  box-sizing: border-box;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: var(--c-main);
  border-radius: 15px;
  padding: 6px 8px;
  width: 76px;
  height: 26px;
  background: #7e847f;
}

.card-button-list {
  display: flex;
  align-items: baseline;
  gap: 8px;
  height: 18px;
  text-align: center;
}

.card-button {
  position: relative;
  text-align: left;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29em;
  color: var(--c-primary);
  background: #fff;
  width: 54px;
  height: 18px;
  border: none;
  outline: none;
  transition: scale 250ms ease-in-out;
}

.card-button:hover,
.card-button:focus {
  scale: 1.1;
}

.card-search-svg {
  position: absolute;
  top: 2px;
  right: 0px;
  fill: none;
  stroke: var(--c-primary);
  width: 14px;
  height: 14px;
}

/* стилі для середньої частини картки */

.card-bodi {
  max-width: 109px;
  max-height: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.card-bodi-svg {
  fill: #fff;
  stroke: #7e847f;
}

.card-name {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--c-primary);
}

/* стилі для описової частини картки */

.card-inform-list {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(27, 27, 27, 0.4);
  display: flex;
  column-gap: 16px;
  row-gap: 6px;
  flex-wrap: wrap;
}

.card-inform-item-span {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--c-primary);
}

/* стилі для планшета */

@media screen and (min-width: 768px) {
  .container-exercises-item {
    height: 1091px;
  }

  .exercises-category-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .exercices-form {
    width: 246px;
    max-height: 44px;
    height: 100%;
  }

  .open-card {
    height: 720px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 20px;
    align-content: flex-start;
  }

  .exercices-card {
    max-width: calc((100% - 14px) / 2);
  }

  .card-category {
    width: 76px;
    height: 26px;
    padding: 7px 8px;
  }

  .card-button {
    font-size: 16px;
    width: 61px;
    height: 24px;
  }

  .card-search-svg {
    width: 16px;
    height: 16px;
    top: 4px;
  }

  .card-name {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container-exercises-item {
    height: 827px;
  }

  .open-card {
    height: 479px;
  }

  .exercices-form {
    width: 273px;
    height: 48px;
  }

  .exercices-card {
    max-width: calc((100% - 40px) / 3);
    height: 141px;
  }

  .card-category {
    width: 76px;
    height: 26px;
  }

  .card-button {
    width: 61px;
    height: 24px;
  }
}
