.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 20px;
  padding: 0 0 20px 10px;
  width: 100%;
  height: 387px;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: url(../img/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-wrapper {
    background-image: url(../img/hero/hero-mobile@2x.jpg);
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 141px;
  gap: 4px;
}

.tag {
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  color: var(--c-main);
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
}

.hero-second-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: 20px;
  padding: 60px 20px 80px 20px;
  width: 100%; /* 335px */
  height: 365px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #ffffff;
}

.hero-title {
  width: 100%;
  color: var(--c-primary);
  font-family: 'DM Sans';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.89; /* 89.286% */
  letter-spacing: -1.12px;
}

.hero-title span {
  color: var(--c-secondary);
  font-family: 'DM Sans';
  font-size: 56px;
  font-style: italic;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.12px;
}

.hero-paragraph {
  width: 100%;
  color: var(--c-primary);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.14px;
}

@media screen and (min-width: 375px) {
  .hero-wrapper {
    width: 335px;
  }

  .hero-title {
    width: 295px;
  }

  .hero-paragraph {
    width: 295px;
  }

  .hero-second-wrapper {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }
  .hero-wrapper {
    margin-top: 16px;
    width: 248px;
    height: 884px;
    flex-shrink: 0;
    padding: 0 0 64px 20px;
    background-image: url(../img/hero/hero-tablet.jpg);
    border-radius: 50px 0px 50px 50px;
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 1439px),
    screen and (min-resolution: 2dppx) and (max-width: 1439px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 1439px) {
    .hero-wrapper {
      background-image: url(../img/hero/hero-tablet@2x.jpg);
    }
  }

  .tags {
    width: 196px;
  }

  .tag {
    padding: 4px 16px;
  }

  .hero-second-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 16px;
    width: 488px;
    height: 884px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 50px;
    padding: 231px 32px 0;
    row-gap: 25px;
  }

  .hero-title {
    width: 424px;
    font-size: 98px;
    line-height: 0.96; /* 96.939% */
    letter-spacing: -1.96px;
  }

  .hero-title span {
    font-size: 98px;
    line-height: 0.96; /* 96.939% */
    letter-spacing: -1.96px;
  }

  .hero-paragraph {
    width: 396px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.18px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    justify-content: center;
    align-items: center;
  }

  .hero-wrapper {
    margin-top: 20px;
    padding: 0 0 32px 48px;
    width: 704px;
    height: 884px;
    border-radius: 50px 0px 50px 50px;
    background-image: url(../img/hero/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .hero-wrapper {
      background-image: url(../img/hero/hero-desktop@2x.jpg);
    }
  }

  .hero-second-wrapper {
    width: 704px;
    height: 884px;
    border-radius: 0px 50px 50px 50px;
    padding: 225px 32px 0;
  }

  .hero-title {
    width: 639px;
    font-size: 120px;
    line-height: 0.95; /* 95.833% */
    letter-spacing: -2.4px;
  }

  .hero-title span {
    font-size: 120px;
    line-height: 0.96;
    letter-spacing: -2.4px;
  }

  .hero-paragraph {
    width: 528px;
  }
}
