.backdrop {
  position: fixed;
  inset: 0;
  background-color: #ffffff66;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 200;
}

.modal-window-mob {
  position: fixed;
  background-color: #7e847f;
  border-radius: 30px;
  padding: 20px;
  width: calc(100% - 20px);

  top: 10px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .backdrop,
  .modal-window-mob {
    display: none;
  }
}

.link-logo-btn-close-mob {
  display: flex;
  justify-content: space-between;
}
.link-logo-mob-menu {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}
.link-logo-mob-menu:hover {
  color: black;
  transition: color 0.5s ease;
}
.btn-close-mob {
  background-color: #7e847f;
  border: none;
  cursor: pointer;
}
.icon-btn-close-mob {
  stroke: #fff;
}
.link-home-favorites {
  display: flex;
  flex-direction: column;
}
.link-home {
  line-height: 1.5;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s linear;
  padding: 6px 26px;
  margin: 0 auto;
  background-color: #7e847f;
}
.first-link-home {
  padding: 6px 36px;
}
.icon-mob-menu-social {
  fill: rgb(246, 246, 246);
  border: 1px solid rgba(246, 246, 246, 0.2);
  border-radius: 10px;
  padding: 8px;
  width: 41px;
  height: 41px;
}
.list-icon-mob {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.icon-mob-menu-social:hover,
.icon-mob-menu-social:focus {
  fill: rgb(95, 101, 96);
  border: 1px solid rgba(95, 101, 96, 0.2);
}
.active {
  opacity: 1;
  background-color: #fffdfd;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  transition: background-color 0.2s linear;
}
