.quote-favorites {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.container-quote-favorites {
  max-width: 280px;
  margin: 0 auto;
  padding-top: 96px;
}

.quote-of-the-day-favorites {
  background-color: #7e847f;
  height: 272px;
  border-radius: 30px;
  /* padding: 40px 20px; */
  padding: 20px 20px 20px 20px; /**/
}

.quote-favorites-header {
  display: flex;
  justify-content: center;
}

.quote-favorites-svg-1 {
  margin-right: 10px;
  width: 34px;
  height: 32px;
}

.quote-favorites-header-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #f6f6f6;
}

.quote-favorites-header-svg-2 {
  width: 28px;
  height: 28px;
  margin-left: auto;
}

.quote-favorites-text {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(246, 246, 246, 0.6);
  margin-left: 44px; /**/
  margin-right: 10px; /**/
}

.quote-favorites-author {
  font-weight: 500;
  font-size: 16px;
  color: #f6f6f6;
  /* margin-top: 14px; */
  margin-top: 20px; /**/
  margin-left: 44px; /**/
}
/*============================================================*/
.quote-favorites-picture {
  border-radius: 30px;
  background-image: url('../img/quote-img/mobile-favorites-fonts.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 272px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .quote-favorites-picture {
    background-image: url('../img/quote-img/mobile-favorites-fonts-2x.jpg');
  }
}

/* .quote-favorites-picture-img {
  border-radius: 30px;
  display: block;
  width: 100%;
  height: auto;
} */
/*============================================================*/
.quote-110min-container {
  background-color: #ffffff;
  width: 280px;
  height: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.quote-110min-svg {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
}

.quote-110min-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #1b1b1b;
  margin-bottom: 6px;
}

.quote-110min-live {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(27, 27, 27, 0.6);
}

@media screen and (min-width: 375px) {
  .container-quote-favorites {
    max-width: 335px;
  }

  .quote-of-the-day-favorites {
    padding: 40px 20px;
  }

  .quote-favorites-svg-1 {
    margin-right: 12px;
  }

  .quote-favorites-text {
    margin-left: 48px;
  }

  .quote-favorites-author {
    margin-left: 48px;
  }

  .quote-110min-container {
    width: 335px;
    height: 272px;
  }
}

@media screen and (min-width: 768px) {
  .container-quote-favorites {
    max-width: 736px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 180px;
  }

  .quote-of-the-day-favorites {
    border-radius: 50px;
    padding: 32px 80px 64px 80px;
    margin-bottom: 16px;
  }

  .quote-favorites-svg-1 {
    margin-right: 16px;
    margin-top: 32px;
  }

  .quote-favorites-header-title {
    font-size: 24px;
    line-height: 1.33;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .quote-favorites-header-svg-2 {
    width: 48px;
    height: 48px;
  }

  .quote-favorites-text {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 48px;
  }

  .quote-favorites-author {
    margin-top: 25px;
    margin-left: 48px;
  }
  /*===============================================================*/
  /* .quote-favorites-picture {
    width: 368px;
    height: 302px;
    border-radius: 50px;
  } */

  .quote-favorites-picture {
    border-radius: 50px;
    background-image: url('../img/quote-img/tablet-favorites-fonts.jpg');
    width: 368px;
    height: 302px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-favorites-picture {
      background-image: url('../img/quote-img/tablet-favorites-fonts-2x.jpg');
    }
  }

  /*==============================================================*/
  .quote-110min-container {
    background-color: #ffffff;
    width: 368px;
    height: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }

  .quote-110min-svg {
    width: 20px;
    height: 20px;
  }

  .quote-110min-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #1b1b1b;
  }

  .quote-110min-live {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(27, 27, 27, 0.6);
  }
}

@media screen and (min-width: 1440px) {
  .container-quote-favorites {
    max-width: 1408px;
    display: flex;
    flex-direction: row;/**/
    align-self: stretch;/**/
    /* justify-content: space-around; */
    /* flex-wrap: nowrap; */
    padding-top: 156px;
    margin-bottom: 8px;
  }

  .quote-of-the-day-favorites {
    border-radius: 50px;
    padding: 32px 64px 64px 64px;
    width: 704px;
    height: 302px;
  }

  .quote-favorites-svg-1 {
    margin-right: 16px;
    margin-top: 32px;
  }

  .quote-favorites-header-title {
    font-size: 24px;
    line-height: 1.33;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .quote-favorites-header-svg-2 {
    width: 48px;
    height: 48px;
  }

  .quote-favorites-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-favorites-author {
    margin-top: 25px;
    margin-left: 48px;
  }
  /*===========================================================*/
  .quote-favorites-picture {
    border-radius: 50px;
    background-image: url('../img/quote-img/desktop-favorites-fonts.jpg');
    width: 352px;
    height: 302px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-favorites-picture {
      background-image: url('../img/quote-img/desktop-favorites-fonts-2x.jpg');
    }
  }

  /* .quote-favorites-picture {
    border-radius: 50px;
    width: 352px;
    height: 302px;
  } */

  /* .quote-favorites-picture-img {
    border-radius: 50px;
    width: 352px;
    height: 302px;
  } */
  /*===========================================================*/
  .quote-110min-container {
    width: 352px;
    height: 302px;
    border-radius: 50px;
  }

  .quote-110min-svg {
    width: 20px;
    height: 20px;
  }

  .quote-110min-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #1b1b1b;
  }

  .quote-110min-live {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(27, 27, 27, 0.6);
  }
}
