.quote-home {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-quote {
  max-width: 280px;
}

.quote-of-the-day {
  background-color: #7e847f;
  border-radius: 30px;
  padding: 20px;
}

.quote-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-header-svg-1 {
  margin-right: 10px;
  width: 34px;
  height: 32px;
}

.quote-header-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #f6f6f6;
}

.quote-header-svg-2 {
  width: 28px;
  height: 28px;
  margin-left: auto;
}

.quote-text-container {
  margin-left: 46px;
  margin-top: 14px;
}

.quote-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(246, 246, 246, 0.6);
}

.quote-author {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #f6f6f6;
  margin-top: 18px;
}

.quote-picture {
  border-radius: 30px;
  background-image: url('../img/quote-img/mobile-fonts.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 272px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .quote-picture {
    background-image: url('../img/quote-img/mobile-fonts-2x.jpg');
  }
}

@media screen and (min-width: 375px) {
  .container-quote {
    max-width: 335px;
  }

  .quote-of-the-day {
    padding: 40px 20px;
  }

  .quote-header-svg-1 {
    margin-right: 12px;
  }
  .quote-author {
    margin-top: 14px;
  }
}

@media screen and (min-width: 768px) {
  .quote-home {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .container-quote {
    max-width: 736px;
    /* margin: 8px auto; */
  }

  .quote-of-the-day {
    border-radius: 50px;
    padding: 32px 80px 64px;
  }

  .quote-header-svg-1 {
    margin-right: 16px;
  }

  .quote-header-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .quote-header-svg-2 {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }

  .quote-text-container {
    margin-left: 50px;
    margin-top: 21px;
  }

  .quote-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-author {
    margin-top: 25px;
  }

  .quote-picture {
    border-radius: 50px;
    background-image: url('../img/quote-img/tablet-fonts.jpg');
    height: 302px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-picture {
      background-image: url('../img/quote-img/tablet-fonts-2x.jpg');
    }
  }
}

@media screen and (min-width: 1440px) {
  .quote-home {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .container-quote {
    max-width: 1408px;
    display: flex;
    justify-content: center;
  }

  .quote-of-the-day {
    flex: 1;
    border-radius: 50px;
    padding: 32px 64px 64px;
  }

  .quote-header-svg-1 {
    margin-right: 16px;
  }

  .quote-header-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .quote-header-svg-2 {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }

  .quote-text-container {
    margin-left: 50px;
    margin-top: 21px;
  }

  .quote-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-author {
    margin-top: 25px;
  }

  .quote-picture {
    border-radius: 50px;
    background-image: url('../img/quote-img/desktop-fonts.jpg');
    width: 704px;
    height: 302px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-favorites-picture {
      background-image: url('../img/quote-img/desktop-fonts-2x.jpg');
    }
  }
}
