.quote-home {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-quote {
  min-width: 280px;
}

.quote-of-the-day {
  background-color: #7e847f;
  border-radius: 30px;
  padding: 20px;

  position: relative;
}

.quote-header {
  display: flex;
  align-items: center;

  gap: 12px;
}

.quote-header-svg-1 {
  width: 34px;
  height: 32px;
}

.quote-header-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #f6f6f6;
}

.quote-header-svg-2 {
  width: 28px;
  height: 28px;

  position: absolute;
  top: 40px;
  right: 20px;
}

.quote-text-container {
  margin-left: 46px;
  margin-top: 14px;
}

.quote-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(246, 246, 246, 0.6);
}

.quote-author {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #f6f6f6;
  margin-top: 18px;
}

.quote-picture {
  border-radius: 30px;
  background-image: url('../img/quote-img/mobile-fonts.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 272px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .quote-picture {
    background-image: url('../img/quote-img/mobile-fonts-2x.jpg');
  }
}

@media screen and (min-width: 375px) {
  .quote-of-the-day {
    padding: 40px 20px;
  }

  .quote-author {
    margin-top: 14px;
  }
}

@media screen and (min-width: 768px) {
  .quote-home {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .quote-of-the-day {
    border-radius: 50px;
    padding: 64px 80px;
  }

  .quote-header {
    gap: 16px;
  }

  .quote-header-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .quote-header-svg-2 {
    width: 48px;
    height: 48px;

    top: 32px;
    right: 80px;
  }

  .quote-text-container {
    margin-left: 50px;
    margin-top: 16px;
  }

  .quote-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-author {
    margin-top: 25px;
  }

  .quote-picture {
    border-radius: 50px;
    background-image: url('../img/quote-img/tablet-fonts.jpg');
    min-height: 302px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-picture {
      background-image: url('../img/quote-img/tablet-fonts-2x.jpg');
    }
  }
}

@media screen and (min-width: 1440px) {
  .quote-home {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .container-quote {
    display: flex;
    justify-content: center;
  }

  .quote-of-the-day {
    width: 50%;
    border-radius: 50px;
    padding: 64px;
  }

  .quote-header-title {
    font-size: 24px;
    line-height: 1.33;
  }

  .quote-header-svg-2 {
    width: 48px;
    height: 48px;

    right: 64px;
  }

  .quote-text-container {
    margin-left: 50px;
    margin-top: 21px;
  }

  .quote-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-author {
    margin-top: 25px;
  }

  .quote-picture {
    border-radius: 50px;
    background-image: url('../img/quote-img/desktop-fonts.jpg');
    width: 50%;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .quote-picture {
      background-image: url('../img/quote-img/desktop-fonts-2x.jpg');
    }
  }
}
