.quote-favorites {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.container-quote-favorites {
  max-width: 280px;
  margin: 0 auto;
  align-items: center;
  padding-top: 96px;
}

.quote-of-the-day-favorites {
  background-color: #7e847f;
  border-radius: 30px;
  padding: 40px 10px;
}

.quote-favorites-header {
  display: flex;
  justify-content: center;
}

.quote-favorites-svg-1 {
  margin-right: 10px;
  width: 34px;
  height: 32px;
}

.quote-favorites-header-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #f6f6f6;
}

.quote-favorites-header-svg-2 {
  width: 28px;
  height: 28px;
  margin-left: auto;
}

.quote-favorites-text {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(246, 246, 246, 0.6);
}

.quote-favorites-author {
  font-weight: 500;
  font-size: 16px;
  color: #f6f6f6;
  margin-top: 14px;
  margin-left: 20px;
}

.quote-favorites-picture {
  border-radius: 30px;
  background: #e8e8e8;
}

.quote-favorites-picture-img {
  display: block;
  width: 100%;
  height: auto;
}

.quote-110min-container {
  background-color: #ffffff;
  width: 280px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.quote-110min-svg {
  width: 20px;
  height: 20px;
}

.quote-110min-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #1b1b1b;
}

.quote-110min-live {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(27, 27, 27, 0.6);
}

@media screen and (min-width: 375px) {
  .container-quote {
    max-width: 335px;
  }

  .quote-of-the-day {
    padding: 40px 20px;
  }

  .quote-header-svg-1 {
    margin-right: 12px;
  }

  .quote-text {
    margin-left: 48px;
  }

  .quote-author {
    margin-left: 48px;
  }

  .quote-110min-container {
    width: 335px;
    height: 272px;
  }
}

@media screen and (min-width: 768px) {
  .container-quote {
    max-width: 728px;
    padding-top: 180px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
  }

  .quote-of-the-day {
    border-radius: 50px;
    padding: 32px 80px 64px 80px;
    margin-bottom: 16px;
  }

  .quote-header-svg-1 {
    margin-right: 16px;
    margin-top: 32px;
  }

  .quote-header-title {
    font-size: 24px;
    line-height: 1.33;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .quote-header-svg-2 {
    width: 48px;
    height: 48px;
  }

  .quote-text {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 48px;
  }

  .quote-author {
    margin-top: 25px;
    margin-left: 48px;
  }

  .quote-picture {
    width: 364px;
    height: 300px;
    border-radius: 50px;
  }

  .quote-110min-container {
    background-color: #ffffff;
    width: 364px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }

  .quote-110min-svg {
    width: 20px;
    height: 20px;
  }

  .quote-110min-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #1b1b1b;
  }

  .quote-110min-live {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(27, 27, 27, 0.6);
  }
}

@media screen and (min-width: 1440px) {
  .container-quote {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    padding-top: 156px;
    margin-bottom: 8px;
  }

  .quote-of-the-day {
    border-radius: 50px;
    padding: 32px 64px 64px 64px;
  }

  .quote-header-svg-1 {
    margin-right: 16px;
    margin-top: 32px;
  }

  .quote-header-title {
    font-size: 24px;
    line-height: 1.33;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .quote-header-svg-2 {
    width: 48px;
    height: 48px;
  }

  .quote-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote-author {
    margin-top: 25px;
    margin-left: 48px;
  }

  .quote-picture {
    border-radius: 50px;
    width: 350px;
    height: 288px;
  }

  .quote-110min-container {
    width: 350px;
    height: 288px;
    border-radius: 50px;
  }
}
