.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: center;
    padding: 20px 20px;
    max-width: 469px;
    max-height: 456px;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .modal-content {
        display: block;
        max-width: 600px;
    }
}
@media screen and (min-width: 1440px) {
    .modal-conten {
        display: block;
        max-width: 800px;
    }
}
.p{
    margin-top: 5px;
    margin-bottom: 15px;
    align-self: flex-start;
    color:rgba(27, 27, 27, 0.4);
}

.close {
    color:darkgray;
    margin-top: 10px;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.rating-stars {
    display: flex;
    color: rgba(27, 27, 27, 0.2);

}
.rating-value {
    margin-right: 10px;
    color: rgb(27, 27, 27);
}

.rating{
    margin-bottom: 32px;

}
.stars {
    display: flex;
    align-self: flex-start;
}

.star {
    margin-right: 5px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;

}

.star.active {
    color: gold;
}

.stars .star {
    font-size: 24px;
    cursor: pointer;
}

.stars .star.selected {
    color: gold;

}

#email {
    width: 350px;
    height: 48px;
    padding: 12px 246px 12px 14px;
    margin-bottom:16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px;
    
}
@media screen and (min-width: 768px){
    #email{
        
}}
@media screen and (min-width: 1440px){
    #email {
             
        }
}

#comment {
    width: 350px;
    height: 106px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
}


#sendBtn {
 width: 350px;
 height: 48px;
 padding: 12px 14px;
 border: none;
 border-radius: 30px;
 background-color:darkgrey;
 color: white;
 cursor: pointer;
 transition: background-color 0.3s ease;
 display: flex;
 justify-content: center;
 align-items: center;
 margin:32px 74px;
}

@media screen and (min-width: 768px){
#sendBtn{cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;}
}

@media screen and (min-width: 1440px){
#sendBtn {
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#sendBtn:hover {
    background-color: #0056b3;
}