* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  font-family: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

address {
  font-style: normal;
}
