/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./fonts.css');
@import url('./reset.css');
@import url('./init.css');
@import url('./loader.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./quote.css');
@import url('./exercises.css');
@import url('./motivation.css');
@import url('./footer.css');
@import url('./favorites.css');
@import url('./exercises_modal.css');
@import url('./exercises_waist.css');
@import url('./rating_modal.css');


