
@import url('./fonts.css');
@import url('./reset.css');
@import url('./init.css');
@import url('./header.css');
@import url('./quote-favorites.css');
@import url('./favorites.css');
@import url('./scroll_up.css');